body{
    height: 300rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #272D3B;
}

:root{
    --black:#272D3B;
    --red:#ED176F;
    --coral:#F7817F;
    --gradient: linear-gradient(90deg, var(--red), var(--coral));
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all 2s linear;
}

*::selection{
    background: var(--red);
    color: #fff;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.btn{
    display: inline-block;
    padding: .7rem 3rem;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;

}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
    margin-top: 5%;
}

.heading:hover{
    color: green;
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--black);
    z-index: 1000;
    padding: 2rem 9%;
    border-bottom: .1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

header .logo span{
    font-weight: bolder;
    color: var(--red);
    font-size: 1.5rem;
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2.5rem;
    color: #fff;

}

header .navbar a:hover{
    color: var(--red);

}

#menu-bar{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.footer{
    text-align: center;
    background: rgb(3, 26, 46);
}
.footer .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: #fff;
    color: var(--red);
    border-radius: 50%;
    font-size: 2rem;
    margin: .3rem;
}
.footer .share a:hover{
    color: #111;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer .column{
    padding-bottom: 40px;
}

.footer h3{
    color: #eee;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 25px;
}
.footer li{
    list-style: none;
    color: aliceblue;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.footer li:hover{
    color: var(--red);
}

.footer p{
    color: aliceblue;
    font-size: 15px;
    padding-bottom: 15px;
 }
.footer .subscribe{
    margin-top: 20px;
}
.footer input{
    width: 220px;
    padding: 15px 12px;
    background: #eee;
    border: none;
    outline: none;
    color: black;

}

.alert{
    width: 100%;
    background: green;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}

.singlepost{
    margin: 6rem 0 2rem;
    justify-content: center;
}

.singlepost_container{
    width: 40%;
    background:#4b5670;
    padding: 1rem 4rem 3rem;
}
.singlepost_thumbnail{
    margin: 1.5rem 0 1rem;
}

.singlepost_container p{
    margin-top: 1rem;
    line-height: 1.7;
}



.post_thumbnail img{
    width: 100%;
}
.post_thumbnail{
    border-radius: 5rem 0;
    border: 1rem solid black;
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.post:hover .post_thumbnail img{
    filter: saturate(0);
    transition: filter 500ms ease;
}

.featured{
    background: #272D3B;
    margin-top: 8rem;
}
.post_author{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post_author_avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4rem;
    overflow: hidden;
}


















@media(max-width:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem 4%;
    }

    section{
        padding:3rem 4%;
    }

    .usage .row{
        flex-flow:column;
    }
    .usage .row .divider{
        display: none;
    }

    .usage .row .box-container .box{
        text-align: center;
    }

    .inner-container{
        padding: 80px;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--black);
        border-top: 1rem solid #fff3;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.nav-toggle{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    header .navbar a{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background: var(--gradient);
        text-align: center;
        border-radius: .5rem;
    }

    header .navbar a:hover{
        color: var(--black);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    home .content h3{
        font-size: 4rem;

    }

    home .content p{
        font-size: 1.5rem;
    }

    .about-section .row .content{
        text-align: center;
    }

    .about-section .row .content .buttons a{
        width: 100%;
    }

    .about-section .row .content .buttons a:last-child{
        margin: 1rem 0;
    }


}


@media(max-width:400px) {
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3.5rem;
    }

}

@media(max-width:1000px){
.inner-container{
    width: 100%;
}

.column{
    width: 100%;
}

.about-section{
    background-size: 100%;
    padding: 100px 40px;
}

    .singlepost{
        margin-top: 6rem;
    }
}


@media screen and (max-width:600px){
    .inner-container{
        padding: 60px;
    }
    .column{
        padding: 60px;
    }

    .share{
        padding: 60px;
    }

    .about-section{
        padding: 0;
    }

    .categories_right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;
    }

    .category_icon{
        margin-top: 4px;
        display:block;
    }

    .posts_container{
        grid-template-columns: 1fr;
    }

    .singlepost_container{
        background-color: transparent;
        padding: 0;
    }

    }

    @media screen and(max-width:1024px) {
        
    }
    
